{% load static %}
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'cogHP/style.css' %}">
    <script src="{% static 'js/.appjs' %}"></script>
    <title>認知行動科学研究室@KIT</title>
</head>
<body>

<div class="wrapper-navbar sticky-top ">
    <div class="container">
        <div class="navbar navbar-expand-lg navbar-light navbar-custom ">
            <a class="navbar-brand" href="{% url 'top' %}">
                <img src="{% static 'cogHP/icon/cog_icon.png' %}" height=40px alt="*">
            </a>

            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="ナビゲーションの切替">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav navbar-right">
                    <a class="nav-item nav-link" href="{% url 'top' %}">
                        <img src="{% static 'cogHP/icon/top.svg' %}" width=15px alt="*">
                        <p class="navitem-text">トップ</p>
                    </a>
                    <a class="nav-item nav-link" href="{% url 'top' %}#reserch">
                        <img src="{% static 'cogHP/icon/research.svg' %}" width=15px alt="*">
                        <p class="navitem-text">研究内容</p>
                    </a>
                    <a class="nav-item nav-link" href="{% url 'achivements' %}">
                        <img src="{% static 'cogHP/icon/achivements.svg' %}" width=15px alt="*">
                        <p class="navitem-text">研究実績</p>
                    </a>
                    <a class="nav-item nav-link" href="{% url 'top' %}#member">
                        <img src="{% static 'cogHP/icon/member.svg' %}" width=15px alt="*">
                        <p class="navitem-text">メンバー</p>
                    </a>
                    <a class="nav-item nav-link" href="{% url 'index' %}">
                        <img src="{% static 'cogHP/icon/participants.svg' %}" width=15px alt="*">
                        <p class="navitem-text">実験参加者募集</p>
                    </a>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="wrapper">
    <div class="container">
        <div class="to-index">
            <a href="{% url 'index' %}" class="link">
                <img src="{% static 'cogHP/icon/left.svg' %}" class="to-index-icon">
                <h6>一覧に戻る</h6>
            </a>
        </div>

        <div class="contents" 　 style="min-height: 30%;">
            <h1 class="contents_title">{{ recruiting.title }}</h1>
            <ul class="detail-group">
                <div class="detail-link-group">
                    <li> <a href={{recruiting.apply_link}} class="link" > <h3><strong>申し込みはこちら</strong></h3></a></li>
                </div>
                <li class="detail-text">実験期間 ： {{recruiting.period_start}} ～ {{recruiting.period_end}}</li>
                <li class="detail-text">実験時間 ： {{recruiting.duration_hour}}</li>
                <li class="detail-text">実験場所 ： {{recruiting.place}}</li>
                <li class="detail-text">実験者　 ： {{recruiting.experimenter}} ({{recruiting.exp_grade}})</li>
                <li class="detail-text">報酬　　 ： {{recruiting.reward}}</li>
                <li class="detail-text">条件　　 ： {{recruiting.conditions}}</li>
                <li class="detail-caution">{{recruiting.precautions}}</li>
            </ul>
        </div>
    </div>
</div>

<footer>
    <div class="container">
        <h6 class="footer_tag"><strong>リンク</strong></h6>
        <nav class="footer_navgroup">
            <a class="footer_navitem" href="https://www.kit.ac.jp/" target="_blank"
               rel="noreferrer noopener">京都工芸繊維大学</a>
            <a class="footer_navitem" href="http://www.is.kit.ac.jp/" target="_blank" rel="noreferrer noopener">情報工学課程・情報工学専攻</a>
        </nav>
        <h6 class="footer_tag">© 2020 COG@KIT</h6>
    </div>
</footer>

<!--js-->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>
</html>